---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

# Related Work

## Autonomous Control of UAV 

### State Dependent LQR for Autonomous Trajectory Tracking of Quadrotor UAV 
Designed and implemented full state time varying LQR and implemented in real-time Gazebo and PX4
<video width="100%" controls autoplay loop muted>
  <source src="../images/LQR_control.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

### Quadrotor UAV Cascaed PID Controll in PX4 
<video width="100%" controls autoplay loop muted>
  <source src="../images/PX4_PID_Control.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

### Offboard Velocity Control 
<video width="100%" controls autoplay loop muted>
  <source src="../images/offboard_velocity_px4_gazebo.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

### Non-linear adaptive geometric Control 

### Trajetory Planning of UAV  
<video width="100%" controls autoplay loop muted>
  <source src="../images/Minimum_Snap_Trajectory_Generation_Simulation.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

## Cooperative Coontrol and Manipulation 
Part of M.S Research Work at Oklahoma State 
### Cooperative Aerial Manipulation 
<iframe width="560" height="315" src="https://www.youtube.com/embed/NlLO4DQXdJ0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

### Aerial Manipulator Design
<iframe width="560" height="315" src="https://youtu.be/lgTVWmbpyd0?si=N6hmdjtU_hZV2BW8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

### Aerial Manipulator Fight Test 
<iframe width="560" height="315" src="https://youtu.be/vBqVEjUz4NM?si=W9LWRkBAhMmrHyCn" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

## Concurrent Learning Based Control and Estimation 

### Drag Force Estimation 
![Winter run in Hoboken](../images/VelLoadB.png)

### Contact force acting on the payload 
![Drag forces Estimation ](../images/f1dTildeB.png)

### Simulation with time varying velocity 
<video width="100%" controls autoplay loop muted>
  <source src="../images/LSS_2019_TimeVarVelocity.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

## Vehicle Dynamics and Control 

### Vehicle Dynamics with Cruise Control and lateral control. 
<video width="100%" controls autoplay loop muted>
  <source src="../images/Vehicle_Dynamics_and_Cruise_Control.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video> 

## Pure Pursuit Based Control 
<iframe width="560" height="315" src="https://www.youtube.com/embed/gJ1q_MxViCE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
